*{
  margin:0px;
  padding:0px;
  scroll-behavior: smooth;
 }
 
body{
  font-family: 'Poppins', sans-serif;
}

:root {

  /**
   * colors
   */

 
  --my-color: #851759;
  --other-color: white;
  --alt-color: #db147b;
 }






/* SCROLL TO TOP STYLE RULES */


.scrollTop{
  position:fixed;
  bottom:30px;
  right:100px;
  background-color: black;
  color:white;
  cursor: pointer;
  transition: all 0.5s ease 0s;
  z-index: 9999;
  padding: 10px;
  border-radius:30px;
}

 /* END OF  SCROLL TO TOP STYLE RULES */

 

/* HEADER STYLE RULES */
header{
  display:flex;
  justify-content:space-between;
  background-color:white;
  height:60px;
  position:fixed;
  width:100%;
  z-index: 9999999;
  top:0px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.251);
}

.logo-card{
  display:flex;
  align-items:center;
  gap:15px;
  position:absolute;
 padding:10px;
}

.menu-btns{
  position:absolute;
  right:20px;
 top:10px;
}

.brand-name a{
 color:var(--alt-color);
 font-weight:bold;
}

.brand-name a:hover{
color:var(--my-color);
}


/* END OF
HOME HEADER 
STYLE RULES */







#menu-bar{
display:flex;
 flex-direction:column; 
 z-index:1;
 position:absolute;
 background-color:white;
 height:350px;
 transition: all 0.4s ease;
 top:60px;
width:100%;
 align-items:center;
 gap:30px;
 transition: 0.5s ease-in-out;
 right:0px;
 box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.373);
}







.menu-btns:hover{
color: rgba(181, 225, 117, 0.961);
}



.slide{
 left:-100%;
}

.hide{
 visibility:hidden;
 
}

.open{
 position:absolute;
 
}

.nav-link-card{
 padding-top:40px;
}


.nav-link{
 margin:30px;
 font-weight:600;
  font-family: 'Raleway', sans-serif;
 text-align:center;
 position:relative;
 top:-30px;
 font-size:14px;
 font-weight: bold;
}

.nav-social{
  top:-45px;
   position:relative;
 display:flex;

 gap:25px;
}


.nav-social i{
 font-size:23px;
 color:black;
}




.nav-social img{
 width:23px;
 
}


.nav-link a{
 text-decoration:none;
color:var(--alt-color);
}

a{
 text-decoration:none;
}

.order{
 position:relative;
 bottom:60px;
  font-size:17px;
 font-weight:bold
}

.order a{
 color:var(--alt-color);
}


.chat-wa{
  position:fixed;
   top:93%;
   display:flex;
   justify-content:right;
   align-items:right;
  right:20px;
  z-index: 999;
  }
  

  
  .whatsapp-img{
  border-radius:100px;
  height:40px;
   width:40px;
  margin-top:-9px;
  animation: scaleUp 1s ease-in-out infinite;
  }


@keyframes scaleUp {

0%,
100% { transform: translateY(0) scale(1); }

50% { transform: translateY(-5px) scale(1.05);}

}






/*HOMEPAGE*/

#home{
 margin-top:75px;
}

.home-text-card{
 padding:35px;
display:flex;
 flex-direction:column;
 gap:10px;
}

.home-small-text{
 font-size:15px;
 padding-bottom:20px;
}

.home-big-text{
  font-size:34px;
  color:var(--alt-color);
}

.get-in-btn{
 width:120px;
 background:var(--alt-color);
 text-align:center;
 line-height:2.7;
  font-size:14px;
}

.get-in-btn a{
 color:white;
}

.home-img-img{
 width:100%;
height:350px;
}

.home-img-card{
  padding-bottom:0px;
}



.my-statistics{
display:grid;
grid-template-columns: repeat(2,100px);
 gap:29px;
 padding:70px;
 justify-content: center;
 background-color:var(--my-color);
}

.stats-card h1{
 font-size:30px;
 color:white;
}

.stats-card p{
 font-size:14px;
  color:white;
}

/*HOME ABOUT*/

 
#home-about{
 padding:25px;
   padding-top:50px;
 
}

.home-abt-img{
 width:100%;
}

.about-text-card{
  padding-top:10px;
 
}

.about-text-card h2{
  padding-top:20px;
  font-size:13px;
 color:var(--my-color);
}

.about-text-card h3{
  padding-top:20px;
}

.about-text-card p{
  padding-top:20px;
  font-size:13px;
   padding-bottom:20px;
}

.about-btn{
 width:120px;
 background:transparent;
 text-align:center;
 line-height:2.7;
  font-size:14px;
 border:1px solid var(--my-color);
 border-radius:15px;
}

.about-btn a{
 color:var(--my-color);
 font-weight:bold;
}



/* WORK PROCESS */

#work-process{
 padding-top:50px;
 padding:25px;
}

#work-process h3{
 padding-top:20px;
  font-size:13px;
 color:var(--my-color);
}

#work-process h1{
 padding-top:20px;
  font-size:28px;
}

.work-process-card img{
 width:200;
 border-radius:100px;
 height:200px
}


#work-process-mother{
  padding-top:40px;
}


.work-process-card{
  padding-bottom:50px;
 display:flex;
 flex-direction:column;
 gap:25px;
}

.work-process-card h5{
font-size:17px;
 
}

.work-process-card p{
font-size:14px;
 
}

/*SERVICES*/

#services{
  padding-top:50px;
 padding:25px;
}


#services h5{
 padding-top:20px;
  font-size:13px;
 color:var(--my-color);
}

#services h1{
 padding-top:20px;
  font-size:25px;
}

.service-card-mother{
  padding-top:20px;
}

.service-card{
  padding-top:20px;
   padding-bottom:20px;
}

.service-card h4{
   font-size:18px;
  padding-top:20px;
 padding-bottom:10px;
}

.service-card p{
  padding-bottom:20px;
}

.service-card-btn{
 width:120px;
 background:transparent;
 text-align:center;
 line-height:2.7;
  font-size:14px;
 border:1px solid var(--my-color);
 border-radius:15px;
}

.service-card-btn a{
 color:var(--my-color);
 font-weight:bold;
}


/*PORTFOLIO*/

#portfolio{
 padding-top:50px;
 padding:25px;
  padding-bottom:80px;
  display:flex;
 flex-direction:column;
 align-items:center;
 justify-content:center;
   padding-top:100px;
}



#portfolio h5{
 padding-top:20px;
  font-size:13px;
 color:var(--my-color);
}

#portfolio h1{
 padding-top:20px;
  font-size:25px;
}

.home-port-img{
 width:100%;
}


.img-text-card{
 padding-top:40px;
 padding-bottom:50px;
}


.home-port-btn{
 width:120px;
 background:transparent;
 text-align:center;
 line-height:2.7;
  font-size:14px;
 border:1px solid var(--my-color);
 border-radius:15px;
}

.home-port-btn a{
 color:var(--my-color);
 font-weight:bold;
}









/*FOOTER*/

footer{
margin-top:70px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background-color:#30031b;
color:white;
padding-top:70px;
 padding-bottom:10px;
}

.footer-first-card{
 display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
 gap:50px
}

.last-card{
  display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
 gap:10px
}



.copyright-developer p{
 padding:10px
}


@media (min-width: 1024px) {

.footer-first-card{
 display:flex;
flex-direction:row;
justify-content:space-between;
 gap:220px;
}

.foot-nav-link{
  display:flex;
flex-direction:row;
}

.last-card{
  display:flex;
flex-direction:row;
justify-content:space-between;
 gap:200px;
}


.copyright-developer{
  display:flex;
 gap:100px;
 
}


 
}


@media (min-width: 1321px) {

.footer-first-card{
 display:flex;
flex-direction:row;
justify-content:space-between;
 gap:350px;
}

.foot-nav-link{
  display:flex;
flex-direction:row;
}

.last-card{
  display:flex;
flex-direction:row;
justify-content:space-between;
 gap:200px;
}


.copyright-developer{
  display:flex;
 gap:150px;
 
}


 
}
